<html>
<head>
</head>
<body>
  <h1>All the question</h1>
  
  <% @q.each do |x| %>

  	<p><%= x.id %>. <%= x.question %> posted by <%= x.user.first_name %></p>

    <% x.answers.each do |a| %>

      <a href="/users/<%= current_user.id %>/question/<%=x.id%>/answer/<%=a.id%>/update"><p><%= a.answer %> </p></a>

    <% end %>

    <form action='/delete/<%=x.id%>' method='post'>
      <input type="submit" value="delete">
      <input name="_method" type="hidden" value="delete" />
    </form>
    <form>
      <input type="button" value="edit" onclick="window.location.href='/user/<%=current_user.id%>/question/<%=x.id%>/update'" />
    </form>
    <form>
      <input type="button" value="answer" onclick="window.location.href='/user/<%=current_user.id%>/question/<%=x.id%>/answer'" />
    </form>
    <br><br>


  <% end %>

  <form action='/submit' method='post'>
    Question:<br>
    <input type="text" name="question" value=""><br>
    <input type="submit" value="Submit">
  </form>
  <!-- Delete -->
  <!-- <form method=post action=/delete>
    
  <input type=submit value="delete"> -->
 

  <!-- <h2>Logout</h2> -->
	<form method=post action=/logout>
    
    <input type=submit value="logout">
</form>
</body>
</html>
